<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <script src="../static/js/bootstrap.js"></script>
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/estilo.css" rel="stylesheet">
    <link rel="icon" href="../static/img/url.png">
    <script src="../static/js/scripts.js"></script>
    <script src="../static/js/qrcode.min.js"></script>

    <title>Encurtador de Url</title>
</head>
<body class="bg-dark">
<div class="container d-flex justify-content-center flex-column vh-100">
    <div class="d-flex align-items-center justify-content-center">
        <h1 class="text-center text-light mx-2">
            Encurtador de URL
        </h1>
        <div><img src="../static/img/url.png" width="60"></div>
    </div>
    <form>
        <div class="form-group">
            <label for="entrada">Cole sua URL aqui:</label>
            <input type="url" class="form-control form-control-lg" id="entrada" placeholder="https://exemplo.com"
                   required>
        </div>
        <div class="d-flex justify-content-center mt-2">
            <button type="button" class="btn btn-primary btn-lg" onclick="salvar()">
                Encurtar URL
            </button>
        </div>
        <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalurl" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modalurl">A sua Url encurtada é:</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="d-flex justify-content-center align-content-center">
                        <div id="ondevaiaurl" class="modal-body">
                                <p id="urlEncurtada"></p>
                            <div id="divisaoqr">
                                <canvas id="qrcode"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <button id="copiarurl" onclick="copiar()" type="button" class="btn btn-primary">Copiar URL
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>
</body>
</html>
